[submodule "HCI/Flip_It"]
	path = HCI/Flip_It
	url = https://github.com/trungvt138/flip_it.git
[submodule "Graphics:AV/py101-media-informatics"]
	path = Graphics:AV/py101-media-informatics
	url = https://github.com/TTTatHAW/py101-media-informatics.git
